@charset "UTF-8";
body {
    background-color: #edebfb;
    color: #011638;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #c5c1f9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-logo img {
    width: 150px;
    margin-left: 50px;
}
.header-list ul {
    display: flex;
}
.header-list li {
    font-size: 30px;
}
.header-list a {
    margin-right: 50px;
    position: relative;
}
.header-list a::before {
    position: absolute;
    content: '';
    background-color: #20A4F3;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;   
    opacity: 0;
    visibility: hidden;
}.header-list a:hover::before {
    width: 100%;
    visibility: visible;
    bottom: -10px;
    opacity: 1;
}

.mainvisual img {
    width: 100%;
    margin-top: 250px;
    object-fit: cover;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3%;
    /* border: 2px solid; */
}

/* topics-1 */
.main-title {
    text-align: center;
}
.item {
    font-size: 40px;
}
.main-title p {
    border: 2px solid #011638;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.topics-1 ,.topics-2 {
    font-size: 30px;
    margin-top: 60px;
}
.topics-list { 
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.topics-list li {
    margin-left: 20px;
    border: 2px solid #011638;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
}

/* topics-2 */
.topics-2 {
    text-align: center;
    margin: 50px;
}
.icon-img {
    display: flex;
    align-items: center;
}
.icon-img img {
    width:15%;
    height: 50%;
    border-radius: 50%;
    padding: 30px;
}
.text {
    font-size: 1rem;
    margin-left: 30px;
}
.speechBubble {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 16px;
  border: 2px solid #011638;
  border-radius: 8px;
  background-color: #fdfdfd;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #011638;
}

.speechBubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #011638 transparent transparent;
  translate: -100% -50%;
  transform: skew(0, -25deg);
  transform-origin: right;
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 15.2px 15.2px 0;
  border-color: transparent #fdfdfd transparent transparent;
  translate: -100% calc(-50% - 0.4px);
  transform: skew(0, -25deg);
  transform-origin: right;
}
/* group-photo */
.group-photo img {
    width:100%;
    margin-top: 100px;
}
.btn {
    text-align: center;
    margin-top: 40px;
}
.join-btn {
    font-weight: bold;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}
.join-btn:hover {
    opacity: 0.5;
}
/* footer */
footer {
    width: 100%;
    background-color: #c5c1f9;
    padding: 20px;
    margin-top: 80px;
    position: relative;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 0.8rem;
}