@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900');
* {
    outline: 1px solid red;
  }
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Noto Sans JP";
    background-color: #edebfb;
    color: #011638;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 56px;
    padding: 100px 0 60px 0;
    /* color: #FF006C; */
}

.sub-title {
    font-size: 24px;
    padding: 30px;
}


.btn {
    text-align: center;
    margin-top: 80px;
}
.join-btn {
    font-weight: bold;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}
.join-btn:hover {
    background-color: #b2F2D0;
    opacity: 0.7;
    transition: all 0.3s;
}

.img-group {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 100px 0;

}
.img-group img {
    width: 100%;
    height: 30px
}


/*---------------------
 うさぎwindow
 --------------------*/
.window {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-top: 40px;
}
.window img {
    width: 90%;
}



/*--------------------------------------------------------------------
 
ヘッダー

 -------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #c5c1f9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-logo img {
    width: 100px;
    margin-left: 50px;
}

/* ハンバーガーの出入り表示 */
.header-list {
    display: flex; /* PC用ナビは表示 */
}
.toggle_btn {
    display: none;  /* ハンバーガーボタンは非表示 */
}


/* header navi */
.header-list ul {
    display: flex;
}
.header-list li {
    font-size: 16px;
}
.header-list a {
    margin-right: 50px;
    position: relative;
}
.header-list a::before {
    position: absolute;
    content: '';
    background-color: #20A4F3;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;   
    opacity: 0;
    visibility: hidden;
}
.header-list a:hover::before {
    width: 100%;
    visibility: visible;
    bottom: -10px;
    opacity: 1;
}


/* --------------------

hamburger navi 

--------------------*/
#navi {
    width: 100%;
    height: 100vh;
    background-color: #c5c1f9;
    text-align: center;
    z-index: 15;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    visibility: hidden; /* 見えないだけでなく、操作もできないようにする */
    transition: opacity .5s, visibility .5s; /* アニメーションも滑らかに */
}
.open #navi {
    opacity: 1;
    /* display: none; */
}
#navi a {
    font-weight: bold;
    font-size: 24px;
    }
#navi .navi-list  {
    display: block;
    padding: 0;
}
#navi .navi-list a {
    color: white;
}
#navi .navi-list li {
    margin-bottom: 50px;
}

/* 開いた状態のナビゲーション */
header.open #navi {
    /* ↓↓↓↓ この2行が重要です！ ↓↓↓↓ */
    opacity: 1;
    visibility: visible; /* 見えて、操作もできるようにする */
  }
  
/* -----------------------------------

hamburger btn

----------------------------------- */
.toggle_btn {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    transition: all 0.5s;
    /* background-color: #c5c1f9; */
    z-index: 20;
    }

.toggle_btn span {
    display: block;
    width: 50%; 
    height: 5px;
    background-color: white;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 25%;
}
.toggle_btn span:nth-child(1) {
    top: 32%;
  }
  .toggle_btn span:nth-child(2) {
    top: 50%;
  }
  .toggle_btn span:nth-child(3) {
    top: 68%;
  }

  /* 開けたときの動き */
  .open .toggle_btn span {
    background-color: white;
  }
  .open .toggle_btn span:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
  }
  
  .open .toggle_btn span:nth-child(2){
     transform: rotate(45deg);  
  }
  
  .open .toggle_btn span:nth-child(3) {
    transform: rotate(45deg) ;
    top: 50%;
  }


/*--------------------------------------------------------------------
 
top page

-------------------------------------------------------------------*/

/* mainvisual */
.mainvisual img {
    width: 100%;
    margin-top: 250px;
    object-fit: cover;
    
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3%;
    /* border: 2px solid; */
}

/* topics-1 */
.main-title {
    text-align: center;
}
.item {
    font-size: 40px;
}
.main-title p {
    border: 2px solid #011638;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.topics-1 ,.topics-2 {
    font-size: 30px;
    margin-top: 60px;
}
.topics-list { 
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
} 

.topics-list li {
    margin-left: 20px;
    border: 2px solid #011638;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
}

/* topics-2 */
.topics-2 {
    text-align: center;
    margin: 50px;
}
.icon-img {
    display: flex;
    align-items: center;
}
.icon-img img {
    width:15%;
    height: 50%;
    border-radius: 50%;
    padding: 30px;
}
.text {
    font-size: 1rem;
    margin-left: 30px;
}
.speechBubble {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 16px;
  border: 2px solid #011638;
  border-radius: 8px;
  background-color: #fdfdfd;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #011638;
}

.speechBubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #011638 transparent transparent;
  translate: -100% -50%;
  transform: skew(0, -25deg);
  transform-origin: right;
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 15.2px 15.2px 0;
  border-color: transparent #fdfdfd transparent transparent;
  translate: -100% calc(-50% - 0.4px);
  transform: skew(0, -25deg);
  transform-origin: right;
}
/* group-photo */
.group-photo img {
    width:100%;
    margin-top: 100px;
}


/*--------------------------------------------------------------------
 
3step登録 

 -------------------------------------------------------------------*/
.entry-step {
    border-radius: 16px;
    margin: 0 auto;
    padding: 20px;
}

.step-list {
    max-width: 600px;
    align-items: center;
    padding-left: 0;
    margin: 0 auto;
}

.step-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 90px;
}

.step-list p {
    text-align: left;
}

.step-label {
    width: 80px;
    height: 80px;
    background-color: #FFEE93;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: #555;
    font-weight: bold;
    flex-shrink: 0;
    /* 親が縮んでも自身は縮まないようにする */
}



/*--------------------------------------------------------------------
 
メタリーフってこんなところ  

 -------------------------------------------------------------------*/
.about-place {
    width: 100%;
    margin: 0 auto;
}

.place-cards {
    display: flex;
    padding: 0 80px;
    gap: 20px;
}

.item-card {
    padding: 40px 30px 20px;
    border: 2px solid #011638;
    background-color: #ffff;
    flex: 1;
    border-radius: 10%;
}

.item-card h4 {
    font-weight: bold;
    font-size: 16px;
}

/*--------------------------------------------------------------------
 
FAQ  

 -------------------------------------------------------------------*/
/* アコーディオン全体 */
.faq-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* 質問部分（dt） */
.faq-list dt {
    text-align: left;
    padding: 15px 80px;
    border-bottom: 2px solid #20A4F3;
    cursor: pointer;
    position: relative;
}

.faq-list dt:first-child {
    border-top: 2px solid #20A4F3;
}



/* 矢印のスタイル */
.faq-list dt::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

/* ★重要：開いているときの矢印の向き */
.faq-list dt.is-active::after {
    transform: translateY(-50%) rotate(180deg);
    /* 上向きにする */
}


/* 答えの部分（dd） */
.faq-list dd {
    display: none;
    /* ★超重要：最初は非表示にしておく */
    padding: 20px;
    margin: 0;
    /* dl,dt,ddが持つデフォルトマージンをリセット */
    border-bottom: 2px solid #20A4F3;
}

/* 最後の要素の下線を消す
.faq-list > *:last-child {
  border-bottom: none;
} */





/* --------------------------------------------------------------------
    

event info


---------------------------------------------------------------------*/
.event-top img{
    max-width: 100%;
}
.event-top {
	position: relative;
    box-shadow: 0 0 0 10px #192A56;
}
.event-top::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	border-image-source: repeating-linear-gradient(45deg, #b2F2D0, #b2F2D0 3px, rgba(0 0 0 / 0) 0, rgba(0 0 0 / 0) 6px);
	border-image-slice: 20;
	border-image-repeat: round;
	border-style: solid;
	border-width: 20px;
}

/* 共通 */
.event-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    font-size: 20px;
}
.event-inner {
    margin-bottom: 60px;
}


/* 今後のイベント */
.event-inner dl {
 display: flex;
 flex-direction: column;
 align-items: center; 
 
}

.event-item {
    max-width: 500px;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    font-weight: bold;
    padding-left: 80px;
}
.event-item img {
    width: 80px;
    color: #fAA381;
}
.event-item dt {
    width: 120px;
    flex-shrink: 0; /* 親がflexの時に縮まないようにするおまじない */
}
.event-item dd {
    margin: 0;
}

/* 今までのイベント */
.event-item-past {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;   
}

.event-item-past dt {
    display: flex;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #22978B;
}

.event-item-past dd {
    padding-top: 8px;
    margin-left: 0;  
    line-height: 1.5; 
    margin-bottom: 80px;
}

.event-item-past img {
width: 30px;
}








/* --------------------------------------------------------------------
    

contact form


---------------------------------------------------------------------*/
.Form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px; 
    background-color: #edebfb;
    border-radius: 20px;
    border: 10px solid #fAA381;
}

.Form-Item {
    margin-bottom: 30px;
  }
  
  .Form-Item-Label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
  }
  
  .Form-Item-Input,
  .Form-Item-Textarea {
    width: 100%;
    padding: 15px 30px;
    border-radius: 25px;
    border: none; 
    background-color: white;
    box-sizing: border-box; /* paddingを含めてwidth:100%にするための設定 */
  }

  .Form-Item-Input::placeholder,
  .Form-Item-Textarea::placeholder {
    color: #888;
  }
  
  .Form-Item-Textarea {
    height: 180px;
  }
  
  /* 送信ボタン */
  .Form-Btn {
    display: block;
    width: 200px; 
    margin: 0 auto;
    padding: 12px 0;
    background-color: white;
    border: 2px solid #011638;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .Form-Btn:hover {
    background-color: #edebfb;
  }



/*--------------------------------------------------------------------
 
フッター

-------------------------------------------------------------------*/
 footer {
    background-color: #c5c1f9;
    padding: 20px;
    margin-top: 80px;
    position: relative;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 0.8rem;
}





  /* ★★★★★スクロール固定用★★★★ */
html.is-scroll-fixed,
body.is-scroll-fixed {
    overflow: hidden;
}


/*--------------------------------------------------------------------
 
responsive

-------------------------------------------------------------------*/

  
@media(max-width: 800px) {
    
.topics-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.topics-list li {
    width: 50%;      
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.icon-img img {
    width: 100px;
    height: 100px;
    padding: 0;
    margin-right: 30px;
}

.speechBubble {
    width: 60%;       
}




.place-cards {
    flex-direction: column;
}
.item-card {
    border-radius: 20px;
    padding: 30px;
}


 /* PC用のナビゲーションを非表示に */
 .header-list {
    display: none;
}
/* ハンバーガーボタンを表示に */
.toggle_btn {
    display: block;
}
}





















